*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; 
}
:root{
    --bright-orange: hsl(31, 77%, 52%);
    --dark-cyan: hsl(184, 100%, 22%);
    --very-dark-cyan: hsl(179, 100%, 13%);    
    --white: hsla(0, 0%, 100%, 0.75); /*paragraphs*/
    --light-gray : hsl(0, 0%, 95%); /*(background, headings, buttons)*/
}
html {  
  font-family: 'Lexend Deca', sans-serif;
  box-sizing: border-box;
  font-size: 62.5%; 
  line-height: 1.5;
}

body {  
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;  
  align-items: center;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.card{
    width: 35rem;
    min-height: 50rem;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 5rem;
}
.card-sedans{
    background-color: var(--bright-orange);
}
.card-suvs{
    background-color: var(--dark-cyan);
}
.card-luxury{
    background-color: var(--very-dark-cyan);
}
.card-img{
    width: 8rem;
    height: auto;

}
.card-title{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    text-transform: uppercase;
    color:var(--light-gray);
    font-size: 4rem;
    margin:2rem 0;    
}
.card-desc{
    color: var(--white);
    font-size: 1.8rem;
    font-weight: 400;        
    margin-bottom: 8rem;
}
.btn{
    width: 60%;
    height: 4rem;
    background-color: var(--light-gray);
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn a{
    font-size: 1.5rem;
    font-weight: 700;
    text-decoration: none;
}
.btn-sedans{
    color:var(--bright-orange);
}
.btn-suvs{
    color:var(--dark-cyan);
}
.btn-luxury{
    color:var(--very-dark-cyan);
}
.btn:hover{
    background-color: transparent;
    outline: 1px solid var(--light-gray);
    cursor: pointer;
}
.btn:hover a {
    color:var(--light-gray);
    font-weight: normal;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*responsive*/
@media only screen and (max-width: 600px){

    .container{
        flex-direction: column;
    }
}